<div class="container contactUsPage">
        <h1 class="display-4 text-center art-header">Our team</h1>
        <p class="lead text-center">
            If there are any issues, concerns, or questions please feel free to reach out to one of us. If you are trying to compete in a future tournament, please
            use the compete tab and fill the information out and press submit.
        </p>
        <p class="lead text-center important mb-5">
            Serious inquires only please!
        </p>
        <div class="row mb-5">
            <div class="col text-center">
                <img class="profilePic" src="assets/images/marshall.PNG">
            </div>
            <div class="col">
                    <h1 class="important text-center nameHeader">Marshall Bailey</h1>
                    <p class="lead text-center contactBio">
                            <br>
                            Director/Partner aka "The Talker"
                            <br>
                            Email: marshallb0095@gmail.com
                            <br>
                    </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col text-center">
            <img class="profilePic" src="assets/images/me.jpg">
            </div>
            <div class="col">
                    <h1 class="important text-center nameHeader">Derrick Montgomery</h1>
                    <p class="lead text-center contactBio">
                            Developer/Partner aka "The Walker"
                            <br>
                            Email: dderrickmatheww@gmail.com
                            <br>
                        </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col text-center">
                <img class="profilePic" src="assets/images/tristan.PNG">
            </div>
            <div class="col">
                    <h1 class="important text-center nameHeader"> Tristan Harkleroad</h1>
                    <p class="lead text-center contactBio">
                            Developer/Partner aka "The Creator"
                            <br>
                            Email: tristan.harkleroad@gmail.com
                            <br>
                        </p>
            </div>
        </div>
    </div>