<div class="container homePage">
        <h1 class="display-4 text-center art-header">About the league</h1>
        <p class="lead text-center">
            The Southeast Amateur League is a competitive video game league that provides an authentic tournament
            expereince. S.A.L. aims to become a stepping stone for kids, teenagers, and adults
            to becoming professional eSport players.
            Our goal is to provide a platform to anyone that would like to compete in an 'eSport-like' environment. Have
            you ever wondered how it would feel to win a tournament playing your favorite games? What about for prizes?
            What about with your friends? Create your team, compete againsts other teams, and see if you can take home
            cash, prizes, or even the S.A.L. (Southeast Amateur League) trophy.
        </p>
        <br>
        <p class="lead text-center">
            The league is still under developement but we will still be hosting stand alone tournaments for teams to
            compete for cash and prizes. This will eventually turn into the S. A. L.
            <br>
            <br>
            <h3 class="lead important text-center">If you are interested in competeing in these tournaments click the
                compete tab above and fill out the information.</h3>
        </p>
        <h1 class="display-4 text-center art-header">FAQ</h1>
        <h3 class="display-4 text-center mb-5">Why would I want my kid playing video games?</h3>
        <p class="lead text-center">
            There are many studies on this topic and one that we take very seriously here at S.A.L. but it simply isn't
            true. One of the more recent studies by the University of
            Oxford shows that there is no correlation between violence video games and adolescents. Click <a
                href="https://www.forbes.com/sites/olliebarder/2019/02/15/new-study-shows-that-there-is-no-link-between-violent-video-games-and-aggression-in-teenagers/#7dc90d5d328e"
                target="_blank">here</a>
            for more on the study. This is one of many different studies by a variety of different cohorts that prove
            this.
        </p>
        <p class="lead text-center">
            Infact its almost the oppisite. Adolescents that play games tend to actually be more intelligent according
            to York University. "They said they simply establish a correlation between skill at certain online games of
            strategy and intelligence."
            more on this study <a href="https://nypost.com/2017/11/15/kids-who-play-video-games-are-smarter-study/"
                target="_blank">here</a>.
        </p>
        <p class="lead text-center mb-5">
            S.A.L.'s goal is to provide a healthy environment for individuals to grow their sportsman-ship and
            social-skills. This expereince is not just about the video games, it's about
            the environment/platform that S.A.L. provides.
        </p>
        <h3 class="display-4 text-center mt-5 mb-5">Are there rules?</h3>
        <p class="lead text-center mb-5">
            Yes there are strict rules on equipment, conduct, and gameplay. If a player is caught breaking one of these
            rules, said player will be disqualified from the tournament. Depending on the
            circumstance may be asked to leave. Permanant bans are not an option as of right now but could be possible
            in the future.
        </p>
        <h3 class="display-4 text-center mt-5 mb-5">Does it cost?</h3>
        <p class="lead text-center mb-5">
            Yes but it will depend on the tournament. There will be an entry fee and a player fee. Entry fee is to come
            in and watch/hang out/support fellow players. Player fee is to actually compete in the
            tournament itself. Part of the player fee goes towards the championship pot so that whoever wins splits the
            championship pot amoungst their team, along with other prizes. As of right now, S.A.L. is only
            doing single game tournaments but will eventually create a league where we do seasons. Once we get to
            seasons the
            pricing will change (for the better) but we will cross that bridge once we get there.
        </p>
        <h1 class="display-4 text-center art-header">Related Articles</h1>
        <div class="mainArticles"></div>
    </div>