<div class="container tornPage">
        <div class="row">
            <div class="col text-center">
                <img class="tba" src="assets/images/tba.png">
            </div>
        </div>
    </div>
    <script>
     $('.to').addClass('active')
     </script>