.art-div{
    padding: 3%;
   margin-top: 5%;
   margin: 0 auto;
   margin-bottom: 5%;
   width: 100%;
    background: linear-gradient(to top, rgba(173, 125, 19, 0.836) 0%,rgba(187, 156, 16, 0) 100%);
    
}
.main-head {
    background: linear-gradient(to top, rgba(173, 125, 19, 0.836) 0%,rgba(187, 156, 16, 0) 100%);
    margin-bottom: 0;
}
.main-nav{
    margin-top: 0;
    background-color: rgba(173, 125, 19, 0.836);
    
}
.art-header{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
     margin: 0 auto;
     margin-top: 8%;
    margin-bottom: 7%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}
.art-img{
    width: 100%;
    height: 600px;
}
#art-head{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}
.art-info{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 1%;
   
}
.important {
    font-weight: 600;
    font-size: 30px;
}
.trophy{
    width: 60px;
    height: 60px;
   

}
.nav-link{
    color: black;
}
.nav-link:hover {
    color: white;
}