.art-div{
    padding: 3%;
   margin-top: 8%;
   margin: 0 auto;
   margin-bottom: 8%;
   width: 100%;
    background: linear-gradient(to top, rgba(173, 125, 19, 0.836) 0%,rgba(187, 156, 16, 0) 100%);
    border: 1px solid black;
    
}
.main-head {
    background: linear-gradient(to top, rgba(173, 125, 19, 0.836) 0%,rgba(187, 156, 16, 0) 100%);
    margin-bottom: 0;
}
.main-nav{
    margin-top: 0;
    background-color: rgba(173, 125, 19, 0.836);
    
}
.leader{
    background-color: rgba(173, 125, 19, 0.836);
    margin-top: 10%;
    margin-bottom: 10%;
}
.btn-primary{
    background-color: rgba(173, 125, 19, 0.836);
    border: 1px solid  rgba(173, 124, 19, 0.411);
}
.btn-primary:hover{
   background-color:  rgba(173, 124, 19, 0.411);
   color: black;
   border: 1px solid black;
}
.logoThumbnail{
    width: 30px;
    height: 30px;
}
.competitionForm{
    padding: 3%;
    margin-top: 8%;
    margin: 0 auto;
    margin-bottom: 8%;
    width: 100%;
     background: linear-gradient(to top, rgba(173, 125, 19, 0.836) 0%,rgba(187, 156, 16, 0) 100%);
     border: 1px solid black;

}
.art-header{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
     margin: 0 auto;
     margin-top: 8%;
    margin-bottom: 7%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}
.art-img{
    width: 100%;
    height: 600px;
}
#art-head{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}
.art-info{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 1%;
   
}
.important {
    font-weight: 600;
    font-size: 30px;
}
.trophy{
    width: 60px;
    height: 60px;
   

}
.nav-link{
    color: black;
}
.nav-link:hover {
    color: white;
}

@media only screen and (max-width: 600px) { 
    .display-4{
        font-size: 20px;
    }
    .trophy{
        width: 20px;
        height: 20px;
    }
    .nav-link{
        font-size: 10px;
        padding: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .hd {
        display: none;
      }
      .art-img{
        width: 100%;
        height: 300px;
    }
    .important {
        font-size: 20px;
    }
}